@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

.title{
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 1px;
  margin: 1rem 0 2rem;
  font-family: 'Titillium Web', sans-serif;
  color: rgb(241, 86, 13);
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img{
  border: solid white 3px;
}

.subtitle{
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 2px;
  padding: 1rem;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
}

.butt{
  margin-bottom: 1rem;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  background-color: rgb(241, 86, 13);
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 0.7px;
  cursor: pointer;
}

.butt:hover{
  transform: scale(0.96,0.96);
}
